main {
  min-height: 100vh;       
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 20px;       
}

.register-container {
  width: 100%;
  border-radius: 25px 0px 0px 25px;
  max-width: 1170px;       
}

.left-side 
{
    background-color: #D9FFF8; 
    border-radius: 25px 0px 0px 25px;
    padding: 50px;
}
/*  */
.right-side 
{
    flex: 1;
    background-color: #fff;
    padding: 50px;
    position: relative;
}

.form-control 
{
    border-radius: 8px;
    padding: 10px 12px;
}

.form-check-label a 
{
    color: #0D7382;
    text-decoration: none;
    font-weight: bold;
}
.button 
{
    border: 1px solid black;
    border-radius: 50px;
    font-weight: 600;
    padding: 10px 25px;
    background: #fff;
}
.button:hover 
{
    background-color: #0D7382;
    color: white;
    border-color: #0D7382;
}

.logo 
{
    position: absolute;
    top: 1px;
    right: 1px;
}