@import url(login.css);
@import url(sign_up.css);

*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html,body
{
    overflow-x: hidden;
    font-family: sans-serif;
    background: #E3FFF5;
}
